# ignore ALL .log files
*.log
# ignore ALL root files
*.root
# ignore ALL files in ANY directore named temp
temp/
# ignore ALL files in the build directory
buildSing/
build/
*.swp
geant4-v11.0.2.tar.gz
geant4-v11.0.2
root_v6.26.04.source.tar.gz
root-6.26.04
Makefile.dep
*.o
sim
